# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/boilerplatefinal?schema=public"

# NextAuth.js
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET="your-nextauth-secret"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://sbftdzhrujfuyjvhsckp.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-supabase-anon-key"
SUPABASE_DATABASE_URL="postgresql://postgres:your-password@db.sbftdzhrujfuyjvhsckp.supabase.co:5432/postgres"

# OAuth Providers (Optional)
# GITHUB_ID=your-github-client-id
# GITHUB_SECRET=your-github-client-secret
# GOOGLE_CLIENT_ID=your-google-client-id
# GOOGLE_CLIENT_SECRET=your-google-client-secret